@import '../../../variable.scss';

@media screen and (min-width: $media-min-width-mobile) {
    .readMoreBtn {
        border: none;

        font-family: $secondary-font-family;
        font-size: 18px;
        line-height: 360%;

        color: $buttons-color;
        background-color: transparent;
    }
}

@media screen and (min-width:$media-min-width-tablet) {}

@media screen and (min-width:$media-min-width-desktop) {
    .readMoreBtn {
        display: none;
    }
}