@import '../../../variable.scss';

@media(min-width: $media-min-width-mobile) {
    .itemWrapper {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 142px;
        height: 142px;
        border-radius: 50%;
        padding-top: 40px;

        background-color: #FEF3E4;
        box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);

        .itemImage {
            position: absolute;
            top: 0;
            left: 50%;

            transform: translate(-50%, -35%);

            width: 65px;

        }

        .itemTitle {
            margin-bottom: 12px;

            text-align: center;

            font-size: 18px;
            font-weight: 400;
            font-family: $secondary-font-family;
        }

        .itemText {
            margin-bottom: 12px;

            text-align: center;
            font-size: 14px;
        }
    }
}

@media(min-width:$media-min-width-tablet) {}

@media(min-width:$media-min-width-desktop) {
    .itemWrapper {
        width: 180px;
        height: 180px;

        padding-top: 60px;

        .itemImage {
            position: absolute;
            top: 0;
            left: 50%;

            transform: translate(-50%, -35%);

            width: 65px;

        }

        .itemTitle {
            margin-bottom: 16px;

            font-size: 24px;
        }

        .itemText {
            margin-bottom: 16px;

            font-size: 16px;
        }
    }
}