@import '../../../variable.scss';


@media screen and (min-width: $media-min-width-mobile) {
    .section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width: $media-min-width-tablet) {
    .section {
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-around;

        max-width: 800px;
    }
}

@media screen and (min-width: $media-min-width-desktop) {
    .section {
        max-width: 1000px;
    }
}