@import '../../../variable.scss';

@media(min-width: $media-min-width-mobile) {
    .slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .buttonsBlock {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media(min-width:$media-min-width-tablet) {}

@media(min-width:$media-min-width-desktop) {}