@import '../../../variable.scss';

@media(min-width: $media-min-width-mobile) {
    .slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        margin-bottom: 30px;

        .reviewsBlock {
            display: flex;
            align-items: center;

            min-width: 100%;

            .reviewItem {
                display: flex;
                flex-direction: column;
                align-items: center;

                min-width: 100%;
            }

            .reviewItemImage {
                width: 110px;
                border-radius: 50%;
                margin-bottom: 6px;
            }

            .reviewItemName {
                font-size: 14px;
                font-style: italic;
                font-weight: 500;
                line-height: 464%;
            }

            .reviewItemFeedback {
                margin-bottom: 30px;
                text-align: center;
            }

            .reviewItemMain {
                position: relative;
            }

            .reviewItemSecondary {
                display: none;
            }
        }

        .buttonsBlock {
            display: flex;
            align-items: center;
            justify-content: center;

            .sliderIndicator {
                font-size: 14px;
                color: $buttons-color;
            }
        }
    }
}

@media(min-width:$media-min-width-tablet) {
    .slider {
        margin-bottom: 35px;

        .reviewsBlock {

            .reviewItem {
                min-width: 30%;
                width: 100%;
            }

            .reviewItemImage {}

            .reviewItemName {}

            .reviewItemFeedback {
                max-width: 625px;
                margin-bottom: 35px;
            }

            .reviewItemMain {
                display: none;
            }

            .reviewItemSecondary {
                display: flex;
            }
        }

        .buttonsBlock {
            display: flex;
            align-items: center;
            justify-content: center;

            .sliderIndicator {
                font-size: 14px;
                color: $buttons-color;
            }
        }
    }
}

@media(min-width:$media-min-width-desktop) {}