@import '../../../variable.scss';

@media screen and (min-width: $media-min-width-mobile) {


    .socialMediasList {
        display: flex;
        align-items: center;
        justify-content: center;

        .socialMediasListItem {

            .iconTwitter {
                width: 15px;
                height: 15px;
            }

            .iconInstagram {
                width: 15px;
                height: 15px;
            }

            .iconFacebook {
                width: 8px;
                height: 15px;
            }

            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

@media screen and (min-width: $media-min-width-tablet) {}

@media screen and (min-width: $media-min-width-desktop) {

    .socialMediasList {

        .socialMediasListItem {

            .iconTwitter {
                width: 19px;
                height: 19px;
            }

            .iconInstagram {
                width: 19px;
                height: 19px;
            }

            .iconFacebook {
                width: 10px;
                height: 19px;
            }

            &:hover .iconTwitter,
            &:hover .iconInstagram,
            &:hover .iconFacebook {
                fill: $buttons-color;
            }
        }
    }
}