@import '../../variable.scss';

@media(min-width: $media-min-width-mobile) {
    .reviewSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .title {
            text-align: center;

            font-family: $secondary-font-family;
            font-weight: 400;
            line-height: 270%;

            h2 {
                font-weight: inherit;
            }
        }
    }
}

@media(min-width:$media-min-width-tablet) {
    .reviewSection {
        min-width: 680px;
    }
}

@media(min-width:$media-min-width-desktop) {
    .reviewSection {

        .title {

            h2 {
                font-size: 36px;
            }
        }
    }

}