@import '../../../variable.scss';

@media(min-width: $media-min-width-mobile) {
    .linkButton {
        display: flex;
        align-items: center;
        justify-content: center;

        min-width: 145px;
        height: 40px;

        border-radius: 25px;

        font-family: $secondary-font-family;
        font-size: 18px;
        line-height: 361%;

        color: $secondary-bg-color;
        background-color: $buttons-color;
    }
}

@media(min-width:$media-min-width-tablet) {
    .linkButton {}
}

@media(min-width:$media-min-width-desktop) {
    .linkButton {
        min-width: 160px;
        height: 45px;

        font-size: 24px;
        line-height: 271%;

        &:hover {
            background-color: $accent-color;
            transition: $transition-for-all;
        }
    }
}