@import '../../variable.scss';

@media screen and (min-width: $media-min-width-mobile) {
    .appHeader {
        position: relative;
        padding-top: 7px;
        margin-bottom: 33px;

        .logo {
            display: block;

            width: 96px;
            height: 43px;

            margin-left: auto;
            margin-right: auto;
        }

        .burgerMenu {
            position: absolute;
            top: 15px;
            right: 15px;

            width: 30px;
            height: 16px;
        }

        .menu {
            display: none;

            .menuItem {
                border-bottom: 2px solid transparent;
                transition: $transition-for-all;

                a {
                    white-space: nowrap;
                }

                &:hover {
                    border-color: $accent-color;
                }
            }

        }
    }

    .logoModal {
        width: 190px;
        height: 85px;

        margin-bottom: 40px;
    }

    .menuModal {

        li {
            &:not(:last-child) {
                margin-bottom: 45px;
            }

            a {
                font-size: 24px;
                font-weight: 500;
            }
        }
    }

    .closeModalButton {
        position: absolute;
        top: 20px;
        right: 40px;

        z-index: 5;

        width: 18px;
        height: 18px;

        border: none;

        background-color: transparent;

        .iconClose {
            width: 18px;
            height: 18px;
        }
    }

}

@media screen and (min-width: $media-min-width-tablet) {
    .appHeader {
        padding-top: 27px;
        margin-bottom: 10px;

        .logo {
            margin-left: 0;
            margin-right: 0;
        }

        .burgerMenu {
            top: 26px;
            right: 67px;
        }
    }
}

@media screen and (min-width: $media-min-width-desktop) {
    .appHeader {
        display: flex;
        align-items: center;
        padding-top: 31px;
        margin-bottom: 57px;

        .logo {
            width: 158px;
            height: 71px;

            margin-right: 38px;
        }

        .burgerMenu {
            display: none;
        }

        .menu {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            font-size: 18px;

            li:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}