@import '../../variable.scss';

@media(min-width: $media-min-width-mobile) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .contactsBlock {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 100%;
            max-width: 400px;

            margin-top: 30px;

            .phone::before {
                content: '';
                display: inline-block;
                width: 13px;
                height: 13px;
                margin-right: 2px;
                background-image: url('../../images/svg/phone.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            .place:before {
                content: '';
                display: inline-block;
                width: 11px;
                height: 14px;
                margin-right: 2px;
                background-image: url('../../images/svg/location.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}



@media(min-width:$media-min-width-tablet) {
    .footer {

        .contactsBlock {
            max-width: 600px;

            margin-top: 50px;

            .phone {}

            .place {}
        }
    }
}

@media(min-width:$media-min-width-desktop) {
    .footer {

        .contactsBlock {
            max-width: none;
            margin-top: 35px;

            .phone {}

            .place {}
        }
    }
}