@import '../../../variable.scss';

@media screen and (min-width: $media-min-width-mobile) {
    .textPart {
        max-width: 500px;

        .title {
            text-align: center;

            font-family: $secondary-font-family;
            font-weight: 400;
            line-height: 270%;
        }

        .mainText {
            white-space: pre-line;
        }


    }
}

@media screen and (min-width: $media-min-width-tablet) {
    .textPart {
        max-width: 340px;

        .title {
            text-align: left;
        }

        .mainText {}


    }
}

@media screen and (min-width: $media-min-width-desktop) {
    .textPart {
        max-width: 400px;

        .title {
            font-size: 36px;

            line-height: 180%;
        }

        .mainText {}


    }
}