$main-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Caveat Brush', cursive;

$accent-color: #2E2520;
$buttons-color: #AB816C;
$main-bg-color: #FEF3E4;
$secondary-bg-color: #fffffa;

$transition-for-all: all cubic-bezier(0.075, 0.82, 0.165, 1) 1500ms;