@import '../../../variable.scss';

.button {
    border: none;
    border-radius: 25px;

    font-family: $secondary-font-family;

    color: $secondary-bg-color;
    background-color: $buttons-color;
}

@media screen and (min-width: $media-min-width-mobile) {
    .button {
        min-width: 145px;
        min-height: 40px;

        font-size: 18px;
    }
}

@media screen and (min-width: $media-min-width-tablet) {}

@media screen and (min-width:$media-min-width-desktop) {
    .button {
        min-width: 158px;
        min-height: 45px;

        font-size: 24px;

        &:hover {
            background-color: $accent-color;
            transition: $transition-for-all;
        }
    }
}