@import '../../variable.scss';


@media(min-width: $media-min-width-mobile) {
    .registrationSection {

        .registrationTitle {
            text-align: center;

            font-family: $secondary-font-family;
            font-weight: 400;
            line-height: 270%;
        }

        .registrationForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            padding: 90px 12px 47px;

            border-radius: 150px 150px 0 0;
            background: #FFFFF9;
            box-shadow: 4px 4px 4px 0px rgba(171, 129, 108, 0.15),
                -4px -4px 4px 0px rgba(171, 129, 108, 0.15);

            .announceBlock {
                font-size: 18px;
                font-weight: 500;

                .eventTime {
                    text-align: center;
                }

                .eventPlace {
                    text-align: center;
                }

                .price {
                    text-align: center;
                }
            }

            .inputsBlock {
                .inputsBlockTitle {
                    text-align: center;
                }

                .registrationInputsList {

                    .registrationInput {
                        display: block;
                        width: 100%;
                        border: none;
                    }
                }

            }
        }
    }
}

@media(min-width:$media-min-width-tablet) {}

@media(min-width:$media-min-width-desktop) {
    .registrationTitle {
        font-size: 36px;

        line-height: 180%;
    }
}