@import '../../variable.scss';


@media(min-width: $media-min-width-mobile) {
    .registrationSection {
        position: relative;

        margin-bottom: 30px;

        .registrationSectionWrapper {

            .registrationTitle {
                position: absolute;
                top: 15px;

                width: 100%;


                h2 {
                    text-align: center;
                    font-family: $secondary-font-family;

                    font-size: 24px;
                    font-weight: 400;
                    line-height: 270%;
                }


            }

            .registrationForm {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                padding: 90px 12px 47px;

                max-width: 380px;
                margin-left: auto;
                margin-right: auto;

                border-radius: 150px 150px 0 0;
                background: #FFFFF9;
                box-shadow: 4px 4px 4px 0px rgba(171, 129, 108, 0.15),
                    -4px -4px 4px 0px rgba(171, 129, 108, 0.15);

                .announceBlock {
                    font-size: 18px;
                    font-weight: 500;

                    .eventTime {
                        text-align: center;
                        white-space: nowrap;
                    }

                    .eventPlace {
                        margin-bottom: 25px;

                        text-align: center;
                    }

                    .price {
                        margin-bottom: 20px;
                        text-align: center;
                    }
                }

                .inputsBlock {
                    margin-bottom: 40px;

                    .inputsBlockTitle {
                        padding-top: 10px;
                        margin-bottom: 15px;

                        text-align: center;
                    }

                    .registrationInputsList {

                        .registrationInputWrapper {
                            display: block;

                            &:not(:last-child) {
                                margin-bottom: 25px;
                            }
                        }
                    }

                }
            }
        }
    }
}

@media(min-width:$media-min-width-tablet) {
    .registrationSection {
        position: absolute;
        left: 50%;

        transform: translate(-50%, 0);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;

        .registrationSectionWrapper {
            width: 100%;
            max-width: 950px;

            min-height: 400px;
            background-image: url('../../images/png/donut.png'), url('../../images/png/confetti.png');
            background-size: 257px auto, 384px auto;
            background-position: left -20px top, right -100px bottom -50px;
            background-repeat: no-repeat, no-repeat;

            .registrationTitle {
                position: static;

                margin-bottom: 10px;
            }

            .registrationForm {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                padding: 35px 20px 35px 35px;

                max-width: 635px;

                border-radius: 150px 150px;
                background: #FFFFF9;
                box-shadow: 4px 4px 4px 0px rgba(171, 129, 108, 0.15),
                    -4px -4px 4px 0px rgba(171, 129, 108, 0.15);

                .announceBlock {
                    align-self: flex-start;

                    padding-top: 19px;
                    padding-right: 30px;

                    .eventTime {
                        text-align: center;
                    }

                    .eventPlace {
                        margin-bottom: 35px;

                        text-align: right;
                    }

                    .price {
                        margin-bottom: 0;
                        text-align: right;
                    }
                }

                .inputsBlock {
                    padding: 19px 25px;
                    margin-bottom: 0;

                    border-left: 1px solid rgba($buttons-color, 0.5);

                    .inputsBlockTitle {
                        padding-top: 0;
                        margin-bottom: 15px;

                        text-align: center;
                    }

                    .registrationInputsList {

                        .registrationInputWrapper {
                            display: block;

                            &:not(:last-child) {
                                margin-bottom: 25px;
                            }
                        }
                    }

                }
            }
        }

    }
}

@media(min-width:$media-min-width-desktop) {
    .registrationSection {
        position: absolute;
        left: 50%;

        transform: translate(-50%, 0);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;

        .registrationSectionWrapper {
            width: 100%;
            max-width: 1200px;

            min-height: 600px;

            background-image: url('../../images/png/donut.png'), url('../../images/png/confetti.png');
            background-position: left 40px top 50px, right bottom -60px;
            background-size: 260px auto, 605px auto;
            background-repeat: no-repeat, no-repeat;


            .registrationTitle {

                line-height: 180%;

                h2 {
                    font-size: 36px;
                }
            }

            .registrationForm {

                padding: 35px 95px;

                max-width: 820px;

                border-radius: 150px 150px;
                background: #FFFFF9;
                box-shadow: 4px 4px 4px 0px rgba(171, 129, 108, 0.15),
                    -4px -4px 4px 0px rgba(171, 129, 108, 0.15);

                .announceBlock {
                    align-self: flex-start;

                    padding-top: 19px;
                    padding-right: 30px;

                    .eventTime {
                        text-align: center;
                    }

                    .eventPlace {
                        margin-bottom: 35px;

                        text-align: right;
                    }

                    .price {
                        margin-bottom: 0;
                        text-align: right;
                    }
                }

                .inputsBlock {
                    padding: 19px 25px;
                    margin-bottom: 0;

                    border-left: 1px solid rgba($buttons-color, 0.5);

                    .inputsBlockTitle {
                        padding-top: 0;
                        margin-bottom: 15px;

                        text-align: center;
                    }

                    .registrationInputsList {

                        .registrationInputWrapper {
                            display: block;

                            &:not(:last-child) {
                                margin-bottom: 25px;
                            }
                        }
                    }

                }
            }
        }

    }
}